:host{
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

#postListloadingSpinner {
  margin: auto;
}

.post-image {
  height: 15rem;
  margin: 1rem 0;
}

.post-image img {
  box-shadow: 1px 1px 5px rgb(0, 0, 0);
  height: 100%;
}

mat-paginator {
  margin-top: 1rem;
}
