<mat-card>
  <mat-spinner id="loadingSpinner" *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (ngSubmit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput placeholder="Post Title" type="text"
       formControlName="title">
      <mat-error *ngIf="form.get('title').invalid">Please enter a title with a minimum length three words</mat-error>
    </mat-form-field>
    <mat-form-field>
      <!-- Note: [ngModel]="post?.content"
        the ? let angular check if post exists instead of loading empty value directly -->
      <textarea matInput placeholder="Post content here" rows="6"
      formControlName="content"></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter content</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePick.click()" >Pick image</button>
      <input type="file" #filePick (change)="onImagePicked($event)" id="filePicker">
      <!-- <mat-error *ngIf="form.get('image').value== ''">Please upload an image files</mat-error> -->

    </div>
    <div class="image-preview" *ngIf="imagePreview!== '' && imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.get('title').value">

      <!-- <mat-error *ngIf="!form.get('image').valid">Only support image files</mat-error> -->
    </div>

    <button type="submit" mat-raised-button color="primary">Save Post</button>
  </form>

</mat-card>
